.affiliate-card {
    width: 300px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .affiliate-header {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .affiliate-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .affiliate-subheader {
    text-align: center;
    font-size: 1rem;
    color: #777;
    margin-bottom: 16px;
  }
  
  .affiliate-image {
    margin-top: 16px;
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 16px;
  }
  
  .affiliate-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .affiliate-buttons {
    display: flex;
    margin-top: 10px;
  }
  
  .contact-button,
  .request-button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #FF2D55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .product-category {
    color: red; 
  }

  
  .product-category:hover {
    text-decoration: underline; 
  }