.productCard {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 16px 16px 0px;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
}

.productCard :hover {
}

.productCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productName {
  margin: 0em 0em 1em;
}

.productDescription {
  margin: 0em 0em 1em;
}

.productPrice {
}

.productImage {
  margin: 0em 0em 1em;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

.productQuantity {
}

.secondaryButton {
  background-color: #ffffff;
  color: rgb(118, 118, 118);
  border-radius: 1em;
  border-color: transparent;
  transition: color 0.3s ease;
  align-self: flex-start;
  padding: 0em 0em 2em 2em;
}

.secondaryButton h1 {
  margin: 0;
}

.secondaryButton:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.hackButton {
  background-color: #fe2c55;
  color: white;
  padding: 1em;
  border-radius: 1em;
  border-color: transparent;
  transition: background-color 0.3s ease;
  margin-top: 2em;
}

.hackButton:hover {
  background-color: rgb(186, 28, 59);
  cursor: pointer;
}
